@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body {
    background-color: #f1f2eb;
}

.row.top-margin {
    height: 45px;
}

nav.top-bar .title-area h1,
nav.tab-bar h1.title {
    color: #f1f2eb;
    font-family: 'Lato', sans-serif;
}

@media only screen {
  nav.top-bar .title-area h1 {
      font-size: 1.7rem;
  }
}

@media only screen and (min-width: 40.063em) {
  nav.top-bar .title-area h1 {
    font-size: 2rem;
  }
  nav.top-bar .title-area {
    margin-right: 10px;
  }
  .repo {
    width: 300px;
    margin-left: 20px;
    margin-right: 0px;
  }
}

nav.tab-bar h1.title {
    font-size: 1.5rem;
}

nav.top-bar li a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #189dbf;
}

/*nav.top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #189dbf;
}*/

nav.top-bar .dropdown li a {
    font-weight: 200;
}

.light {
    font-weight: 200;
}

.heavy {
    font-weight: 700;
}

.upper {
    text-transform: uppercase;
}



/**
 * GitHub page Styles
 ************************/
div.github {
    padding-top: 20px;
}

.repo {
	margin-bottom: 25px;
}
.repo .repo-header .repo-title a {
	text-decoration: none;
  font-size: 0.5em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.repo .repo-header .repo-title a:hover {
	color: #189dbf;
}
.repo .repo-header .repo-title {
	margin-bottom: 0px;
	padding-bottom: 0px;
  line-height: 25px;
}
.repo .repo-header .repo-language {
	margin-top: 0px;
	padding-top: 0px;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.repo h2 {
	margin-left: 0px;
}

.repo{
	height:auto;
	min-height:10em;
	padding:12px;
	background-color:#efefef;
	border:1px solid #dedede;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
  display: inline-block;
}

.repo p {
	color: #898a8a;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.repo-header h2 a,
.repo  {
	color:#232323;
}

.repo p.stats{
	color:#232323
}

.project-link {
	display: block;
	margin-left: 10px;
	padding-bottom: 15px;
}

.repo-header{
	margin:20px 0 12px 0;
	border-left:2px solid #efefef;
	padding-left:12px;
	cursor:pointer;
	border-color:#189dbf;
}

.repo-header.JavaScript {
    border-color: #0c658c;
}

.repo-language.JavaScript,
.repo .repo-header.JavaScript h2.repo-title a:hover {
    color: #0c658c;
}


.stats i {
    margin-left: 10px;
    margin-right: 3px;
}


/**
 * About Me
 ********************/
h1.profile-title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  border: solid medium #fff;
  padding: 10px;
  font-size: 2rem;
}

div.about .hero {
    position: relative;
    background-image: url('../images/profile.jpg');
    background-size: cover;
}

div.introduction .hero {
    position: relative;
    background-image: url('../images/profile.jpg');
    background-size: cover;
}

@media only screen {
  div .hero {
      height: 165px;
  }
  h1.profile-title {
    position: absolute;
    top: 10%;
    right: 7%;
    width: 50%;
  }
}

@media only screen and (min-width: 40.063em) {
 div .hero {
      height: 350px;
  }
  h1.profile-title {
    position: absolute;
    top: 25%;
    right: 15%;
    width: auto;
  } 
}

@media only screen and (min-width: 64.063em) {
  div .hero {
      height: 450px;
  }
}

div.about {
    font-family: 'Lato', sans-serif;
    line-height: 1.4rem;
}


.work .pricing-table .title {
  background-color: #03658c;
}

.work .pricing-table .title a {
  color: #fff;
}

.work .pricing-table .title a:hover {
  color: #189dbf;
}

.work .pricing-table .title a:active {
  color: #043859;
}

.work .row img {
  margin-bottom: 1.25rem;
}