<div class="row">
	<div class="small-12 columns hero">
		<h1 class="profile-title"><span class="light upper">Edward</span> <span class="heavy upper">Hinkle</span></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns panel">
		<p>Hi my name is Edward! Thanks for visiting.</p>
		<p>
			I'm married to a beautiful woman named Ashley for going on a year now.<br>
			I live in the greater Washington D.C. area and develop software for the
			<a href="http://www.usaid.gov/political-transition-initiatives" target="_blank">Office of Transition Initiatives</a> in USAID.
		</p>
		<p>Anything posted on this site represents my personal views only. I hope you enjoy your stay.</p>
		<div class="row">
			<div class="small-6 columns text-center">
				<a href="#" class="svg webicon twitter large">Twitter</a>
			</div>
			<div class="small-6 columns text-center">
				<a href="#" class="svg webicon github large">GitHub</a>
			</div>
		</div>
	</div>
</div>