<img src="./images/profile.jpg">
<h1 class="profile-title"><span class="light upper">Edward</span> <span class="heavy upper">Hinkle</span></h1>
<div class="small-12 columns panel">
		Hi my name is Edward! Thanks for visiting.<br>
		I'm married to a beautiful woman named Ashley for going on a year now.<br>
		I live in the greater Washington D.C. area and develop software for the
		<a href="http://www.usaid.gov/political-transition-initiatives" target="_blank">Office of Transition Initiatives</a> in USAID.
		<br><br>
		Anything posted on this site represents my personal views only. I hope you enjoy your stay.
</div>