<div class="row">
<div class="small-12 columns hero">
</div>
</div>
<div class="row">
	<div class="small-12 columns panel">
		<h1>Hi, it was nice to meet you!</h1>

		<p>My name is Edward Hinkle.</p>
		<p>I have been involved with web development for over 15 years, and have been doing software engineering for 10.</p>
		<p>At 19 years old I started my own company to build web applications. I have worked with: personal clients, small businesses, non-profit organizations, churches, realtors and my largest client: University of Hawaii. My career has included several years with technology start-ups, work with several newspapers and most recently government contracting.</p>
		<p>Interested in more information about my experiences?</p>

		<div class="row">
			<div class="small-12 columns text-center">
			  <a href="#work" class="button">My Work</a>
			</div>
			<!--<div class="small-6 columns text-center">
			  <a href="#resume" class="button">My Resume</a>
			</div>-->
		</div>
	</div>
</div>