<div class="row">
	<div class="small-12 columns">
		<h1>Work</h1>
	</div>
</div>

<!--<ul class="example-orbit" data-orbit>
  <li>
    <img src="../assets/img/examples/satelite-orbit.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Testing
    </div>
  </li>
</ul>-->

<div class="row">
	<!-- My Brick Is -->
	<div class="columns small-12 medium-6">
		<ul class="pricing-table">
		  <li class="title"><a href="http://LIFEpointWaldorf.com">LIFEpoint Church</a></li>
		  <li class="price">My Brick Is site</li>
		  <li class="description">Built a site for a capital campaign that informs members about the new building plans.</li>
		  <li class="bullet-item">Responsive Design</li>
		  <li class="bullet-item">Foundation 5</li>
		  <li class="bullet-item">HTML 5, CSS 3</li>
		</ul>
	</div>
	<img class="columns small-12 medium-6" src="./images/work/my_brick.png">
</div>

<div class="row">
	<div class="columns small-12 medium-6">
		<ul class="pricing-table">
		  <li class="title"><a href="http://www.usaid.gov/political-transition-initiatives">U.S. AID / Office of Transition Initiatives</a></li>
		  <li class="price">Activity Locations interface</li>
		  <li class="description">Built an interface for adding geospatial locations to grants being recorded within a database for tracking of program success and monitoring and evaluation.</li>
		  <li class="bullet-item">Leaflet.js, jQuery</li>
		  <li class="bullet-item">Drupal 6, REST API</li>
		  <li class="bullet-item">HTML 5, CSS 3, PHP</li>
		</ul>
	</div>
	<img class="columns small-12 medium-6" src="./images/work/oti_wbdb_locations.png">
</div>

<div class="row">
	<div class="columns small-12 medium-6">
		<ul class="pricing-table">
		  <li class="title"><a href="http://www.usaid.gov/political-transition-initiatives">U.S. AID / Office of Transition Initiatives</a></li>
		  <li class="price">Visuals Gallery</li>
		  <li class="description">Built a visuals gallery that allows users to filter the gallery by a variety of information.</li>
		  <li class="bullet-item">jQuery, Isotope.js</li>
		  <li class="bullet-item">Drupal 6</li>
		  <li class="bullet-item">HTML 5, CSS 3, PHP</li>
		</ul>
	</div>
	<img class="columns small-12 medium-6" src="./images/work/otia_visuals_gallery.png">
</div>

<div class="row">
	<div class="columns small-12 medium-6">
		<ul class="pricing-table">
		  <li class="title"><a href="http://www.usaid.gov/political-transition-initiatives">Personal Project</a></li>
		  <li class="price">Wedding Invitations</li>
		  <li class="description">Designed the Wedding Invitations for my wedding.</li>
		  <li class="bullet-item">Design</li>
		</ul>
	</div>
	<img class="columns small-12 medium-6" src="./images/work/wedding_invitation.png">
</div>